/*Default CSS*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial,Verdana,serif;
	font-size: 1em;
	color: black;
	background-color: white;
	line-height: 22px;
	/*background-image: url(images/bodybg.png);*/
}
.container{
	width: 1140px;
	margin: auto;
}
a{
	text-decoration: none;
	color: black;
	display: inline-block;
}
ul{
	list-style-type: none;
}
.d-flex{
	display: flex;
}
.space{
	justify-content: space-between;
}
/*Main CSS*/

.header-top {
	background-color: black;
	padding: 10px 15px;
	color: white;
}

input.input1 {
    width: 200px;
    padding: 5px;
    border: 1px solid goldenrod;
}

input.input2 {
    padding: 6px 10px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 3px;
    margin-right: 18px;
}
.top-right a{
	border-color: #ddd;
}
.top-right a.all {
    background-color: #ddd;
    padding: 4px;
    color: black;
    border: 1px solid firebrick;
    border-radius: 8px;
    margin-right: -14px;
}
.logo img{
	width: 100%;
}

/*Header End*/

.menu{
	background-color: gray;
	border-bottom: 1px solid red;
	margin-top: -3.5px;
}
.menu ul{

}
.menu a{
	padding: 10px;
	border-right: 1px solid black;
}
.menu a:hover,.active a{
	background-color: green;
	color: white;
}

/*Menu CSS End*/

/*This is flex basis section*/

.main-left{
	flex-basis: 69%;
	margin-right: 10px;
	margin-top: 15px;
}
.main-right{
	flex-basis: 30%;
}

/*flex basis section end*/

.news{
	background-color: #ddd;
}
.news {
    padding: 13px 7px;
    border: 1px solid cornflowerblue;
}

/*News CSS End*/

a.all {
    padding: 5px;
    background-color: gray;
    float: right;
}
.notice{
	/*background-image: url(images/notice.png) no-repeat center left;*/
	background-color: #ddd;
	margin-top: 10px;
	border:1px solid gray;
	overflow: hidden;
	background:url(images/notice.png) no-repeat; 
}
.notice {
    padding: 18px 120px;
}

.notice li {
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 3px 0;
}
.notice h3,..notice ul{
	margin-left: 140px;
}

/*Box Area CSS*/

.box-area{
	margin-top: 15px;
}
.box1 li{
	padding: 3px 3px;
}
.box1{
	background-color: #F1F1F1;
	padding: 10px;
	margin-right: 10px;
	flex-basis: 49%;
	border:1px solid gray;
}
.box2 li{
	padding: 3px 3px;
}
.box2{
	background-color: #F1F1F1;
	padding: 10px;
	margin-right: 10px;
	flex-basis: 49%;
	border:1px solid gray;
}

/*Video css*/
.video{
	margin-top: 20px;
}
video {
    width: 98.5%;
    height: auto;
}
.video h2{
	background-color: green;
	padding: 10px 0;
	margin-right: 10px;
}

/*Main left CSS End*/

.border{
	height: 10px;
	background-color: green;
}
.main-right h3{
	padding: 7px 4px;
	background-color: green;
	color: white;
	margin: 10px 0;
}
.main-right,.top-img{
	width: 100%;
}
.Beautiful ul li {
    border-bottom: 1px solid grey;
    padding: 10px 0;
}
.Beautiful a{
	list-style-image: url(images/mr8.png);
}
.web{
	margin-bottom: 40px;
}